_posts/*/*_files/** linguist-vendored=true
posts/** linguist-vendored=true
site_libs/**/** linguist-vendored=true
.git/* linguist-vendored=true
*.html linguist-vendored=true
# *.js linguist-vendored=true
*.css linguist-vendored=true
*.scss linguist-vendored=true

# *.[Rr]md   linguist-detectable

*.html text eol=lf
*.md text eol=lf
*.css text eol=lf
*.js text eol=lf
*.yml text eol=lf
.gittattributes text eol=lf
.gitignore text eol=lf
.gitkeep text eol=lf
*.rb text eol=lf
Gemfile text eol=lf
Gemfile.lock text eol=lf
LICENCE text eol=lf
Dockerfile text eol=lf
*.json text eol=lf

# Binary
*.jpg binary
*.jpeg binary
*.gif binary
*.png binary
*.t3x binary
*.t3d binary
*.exe binary
*.data binary
*.ttf binary
*.eof binary
*.eot binary
*.swf binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.ogg binary
*.flv binary